{{define "events"}}
{{template "header" .}}
<div class="content">
	<h2>Events</h2>
    <div>This is the Event page</div>
        <head>
        <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        </style>
        </head>

        <body>
        <table style="width:100%">
          <tr> <th>Id</th> <th>Title</th> <th>Created</th><th>Start</th><th>End</th><th>Completed</th> </tr>
          <tr></tr>
          <tr></tr>
        </table>
        </body>
</div>
{{template "footer" .}}
{{end}}